
.header{
    background: url(../images/mobile/image-header.jpg) center center/cover;
    height: 535px;
}
.nav-menu {
    position: fixed;
    left: -100%;
    top: 6rem;
    flex-direction: column;
    background-color: var(--White);
    width: 86.5%;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}
.nav-menu:before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 37px 29px;
    border-color: transparent transparent white transparent;
    top: -30px;
    right: 0;
    margin-left: -11px;
}
.navbar {
    
    padding: 1rem 1.5rem;
}

.nav-menu.active {
    left: 25px;
}

.nav-item {
    margin: 1.5rem 0;
}

.hamburger {
    
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.nav-link{
    color: var(--Grayish-blue);
}

.nav-logo{
    font-size: 2rem;
}
.button{
    background-color:#fbd601;
}

.tittle{
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
}

.title,h1{
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 10px;
    color: var(--White);
    text-align: center;
}

 /* brand  */
 summary{
     height: 1500px;
 }

.brand{
    height: 750px;
    display: flex;
    flex-direction: column-reverse;
}
.brand-text{
    height: 440px;
}


 /* audience */
 .audience{
    height: 750px;
    display: flex;
    flex-direction: column;
}
.audience-text{
    height: 440px;
}

 /* container  */
 .container{
     height: 1200px;
     display: flex;
     flex-direction: column;
 }


  /* testimonial */
  .testimonial{
      height: 1200px;
      display: flex;
      flex-direction: column;
  }
.testimonial h1{
    font-size: 1rem;
    padding-top: 15%;
    /* padding: 0 20px; */
}

.testimonial-profile{
    padding-top: 10%;
}
.testimonial-profile p{
    padding: 12px 20px;
    font-size: 20px;
}



 /* gallery */
 .gallery{
    height: 400px;
 }

 /* footer  */
footer{
    height: 344px;
}
.footer> h2{
    font-size: 2.5rem;
}
 .footer-menu li{
     margin: 30px;
 }

 .icons{
     padding-top: 5%;
     
 }

.icons>i>img{
    height: 30px;
    width: 60px;
}


.footer-menu>li>a{
    font-size: 1.2rem;
}