/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    font-size: 18px;
    /*color*/
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    /*(graphic design text)*/
    --Dark-desaturated-cyan : hsl(167, 40%, 24%);
    /*(photography text)*/
    --Dark-blue: hsl(198, 62%, 26%);
    /*(footer)*/
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

}

h1,h2,h3 {
    font-family: 'Fraunces', serif;
}
p,a {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

/* classe */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn{
    font-size: 1.5rem;
    align-self: flex-start;
    text-align: left;
    color: black;
    font-family: 'Fraunces', serif;
    border-bottom: 5px solid yellow;
    
}

/*header*/

.header{
    background: url(../images/desktop/image-header.jpg) center center/cover;
    height: 800px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--White);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--White);
}
.button{
    background-color: var(--White);
    color: var(--Very-dark-desaturated-blue);
    font-family: 'STIX Two Text', serif;
    font-weight: 700;
    padding: 15px 15px;
    border-radius: 35px;
    border: none;
    font-size: 1.2rem;
}

.button:hover{
    color: var(--White);
    background-color: #6ecefe;
}

.nav-logo {
    font-family: 'Fraunces', serif !important;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--White);
}



/*hero*/

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.title,h1{
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 10px;
    color: var(--White);
}

.arrow{
    padding-top: 80px;
}
.arrow,img{
    height: 150px;
}



/*brand*/
.brand{
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
}
.brand-text{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
}
.brand-picture img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.brand-text h2{
    font-size: 3rem ;
    text-align: left;
}

.brand-text p {
    font-size: 1.5rem;
    color: var(--Very-dark-grayish-blue);
    font-weight: bold;
    line-height: 2.5rem;
    text-align: left;
}
  /* audience  */
.audience{
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px; 
}

.audience-text{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
}

.audience-picture img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.audience-text h2{
    font-size: 3rem ;
    text-align: left;
}

.audience-text p {
    font-size: 1.5rem;
    color: var(--Very-dark-grayish-blue);
    font-weight: bold;
    line-height: 2.5rem;
    text-align: left;
}

.container{
    height: 650px;
    display: flex;
    flex-flow: row nowrap;
}

.graphic-design{
    display: flex;
    background: url(../images/desktop/image-graphic-design.jpg) top center/cover;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    color: var(--Dark-desaturated-cyan); 
}

 /* design  */

.graphic-design>h3{
   margin-bottom: 2%;
   font-size: 2.3rem;
}
.graphic-design>p{
    margin-bottom: 3%;
    font-size: 1.1rem;
    line-height: 1.5rem;
}


.photography{
    display: flex;
    background: url(../images/desktop/image-photography.jpg) top center/cover;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    color: var(--Dark-blue);
}

.photography>h3{
    margin-bottom: 2%;
    font-size: 2.5rem;

}
 .photography>p{
     margin-bottom: 3%;
     margin-bottom: 3%;
     font-size: 1.1rem;
    line-height: 1.5rem;
}


/*testimonials*/
.testimonial{
    width: 100%;
    height: 780px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 250px 1fr;
}
.testimonial h1{
    grid-column: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--Dark-grayish-blue);
}

.testimonial-profile{
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.testimonial-profile img{
    border-radius: 150px;
    height: 100px;
}

.testimonial-profile p{
    font-size: 1.5rem;
    color: var(--Very-dark-grayish-blue);
    line-height: 2.5rem;
    padding-top: 4rem;
}
.name{
    padding-top: 6rem;
}
.testimonial h3{
    font-family: 'Barlow', sans-serif;
    padding-top: 15px;
    color: var(--Dark-grayish-blue);
}
.subtitle{
    padding-top: 20%;
}

 /* gallery  */
.pictures{
    display: grid;
    height: 500px;
    grid-template-columns: repeat(4, 1fr);
    
}
.gallery{
    width: 100%;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


footer{
    display: flex;
    flex-flow: column nowrap;
    height: 500px;
    background-color:#90d4c5;
    align-items: center;
    
}
footer>h2{
    font-size: 3.5rem;
    padding-top: 8%;
}

.footer-menu{
    display: flex;
    align-items: center;
    
}
    
footer>h2{
    color: var(--Dark-desaturated-cyan);
}

.footer-menu>li{
    margin: 50px;
    
    
}

.footer-menu>li>a{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--Dark-desaturated-cyan);
}

.icons>i>img{
    /* padding: 10px; */
    margin-top: 50px;
    padding: 0 1rem;
    height: 60px;
    width: 90px;
    
}