/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    font-size: 18px;
    /*color*/
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    /*(graphic design text)*/
    --Dark-desaturated-cyan : hsl(167, 40%, 24%);
    /*(photography text)*/
    --Dark-blue: hsl(198, 62%, 26%);
    /*(footer)*/
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

}

h1,h2,h3 {
    font-family: 'Fraunces', serif;
}
p,a {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

/* classe */

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/*header*/

.header{
    background: url(../images/desktop/image-header.jpg) center center/cover;
    height: 800px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--White);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--White);
}
.button{
    background-color: var(--White);
    color: var(--Very-dark-desaturated-blue);
    font-family: 'STIX Two Text', serif;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 35px;
    border: none;
    font-size: 1.5rem;
}

.button:hover{
    color: var(--White);
    background-color: #6ecefe;
}

.nav-logo {
    font-family: 'Fraunces', serif !important;
    font-size: 3rem;
    font-weight: 500;
    color: var(--White);
}



/*hero*/

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.title,h1{
    font-size: 4.8rem;
    font-weight: 800;
    letter-spacing: 10px;
    color: var(--White);
}

.arrow{
    padding-top: 60px;
}
.arrow,img{
    height: 150px;
}



/*brand*/
.brand{
    height: 700px;
    display: flex;
    flex-flow: row-reverse nowrap;  
}

.brand-content-img{
    width: 100%;
    
}
.brand-content-img img{
    display: flex;
    flex: 1;
    width: 100%;
    height: 700px;
    background: url(../images/desktop/image-transform.jpg) center cover/center;
}


.brand-content-text h2{
    margin-bottom: 2rem;
    font-size: 4.5rem;
    text-align: left;
}
.brand-content-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.brand-content-text p{
    font-size: 1.6rem;
    line-height:3rem;
    text-align: left;
    color: var(--Grayish-blue);
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    margin-left: 5%;

}

/*audience*/
.audience{
    height: 650px;
    display: flex;
    flex-flow: row nowrap;
}

.audience-content-img{
    width: 100%;
    
}
.audience-content-img img{
    flex: 1;
    width: 100%;
    height: 650px;
    background: url(../images/desktop/image-stand-out.jpg) center center/cover;
}


.audience-content-text h2{
    margin-bottom: 1.9rem;
    font-size: 3.9rem;
    text-align: left;
    
}


.audience-content-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;

}
.audience-content-text p{
    font-size: 1.6rem;
    line-height:3rem;
    text-align: left;
    color: var(--Grayish-blue);
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    
    
   
}

.btn{
    display: block;
    flex-direction: column;
    font-size:1.5rem;
    text-align: left;
    padding-top: 20px;
    text-decoration: none;
    color: var(--Very-dark-desaturated-blue);
    border-bottom: 6px solid yellow;
    width: auto;
}

/* container */

.container{
    height: 650px;
    display: flex;
    flex-flow: row nowrap;
}

.graphic-design{
    display: flex;
    background: url(../images/desktop/image-graphic-design.jpg) top center/cover;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    color: var(--Dark-desaturated-cyan); 
}


.graphic-design>h3{
   margin-bottom: 2%;
   font-size: 2.3rem;
}
.graphic-design>p{
    margin-bottom: 3%;
    font-size: 1.1rem;
    line-height: 1.5rem;
}


.photography{
    display: flex;
    background: url(../images/desktop/image-photography.jpg) top center/cover;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    color: var(--Dark-blue);
}

.photography>h3{
    margin-bottom: 2%;
    font-size: 2.5rem;

}
 .photography>p{
     margin-bottom: 3%;
     margin-bottom: 3%;
     font-size: 1.1rem;
    line-height: 1.5rem;
}


/*testimonials*/
.testimonial{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
    height: 780px;
}
.testimonial-title{
    color: black;
    width: 100%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 50px;
}
.testimonial-profile{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
}
.testimonial-profile>img{
    border-radius: 100px;
}
.testimonial-profile>p{
    font-size: 1.6rem;
    color: var(--Very-dark-grayish-blue);
    text-align: center;
}
.testimonial-profile>h2{
    padding-top: 15%;
}
.subtitle{
    padding-top: 20%;
}

.pictures{
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    padding-top: 5%;
}

.pictures>img{
    height:500px;
    flex: 1;
}
footer{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 95px;
    height: 450px;
    background-color:#90d4c5;
    align-items: center;
    
}
footer>h2{
    font-size: 3.5rem;
    padding-top: 5%;
}

.footer-menu{
    display: flex;
    align-items: center;
    padding-top: 2%;
}
    
footer>h2{
    color: var(--Dark-desaturated-cyan);
}

.footer-menu>li{
    margin: 50px;
    
    
}

.footer-menu>li>a{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--Dark-desaturated-cyan);
}

.icons>i>img{
    padding: 10px;
    height: 50px;
    width: 50px;
    
}