/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    font-size: 18px;
    /*color*/
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    /*(graphic design text)*/
    --Dark-desaturated-cyan : hsl(167, 40%, 24%);
    /*(photography text)*/
    --Dark-blue: hsl(198, 62%, 26%);
    /*(footer)*/
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

}

h1,h2,h3 {
    font-family: 'Fraunces', serif;
}
p,a {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

/* classe */

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.header{
    background: url(../images/desktop/image-header.jpg) center center/cover;
    height: 800px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--White);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--White);
}
.button{
    background-color: var(--White);
    color: var(--Very-dark-desaturated-blue);
    font-family: 'STIX Two Text', serif;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 35px;
    border: none;
    font-size: 1.5rem;
}

.button:hover{
    color: var(--White);
    background-color: #6ecefe;
}

.nav-logo {
    font-family: 'Fraunces', serif !important;
    font-size: 3rem;
    font-weight: 500;
    color: var(--White);
}

/*hero*/

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.title,h1{
    font-size: 4.8rem;
    font-weight: 800;
    letter-spacing: 10px;
    color: var(--White);
}

.arrow{
    padding-top: 60px;
}
.arrow,img{
    height: 150px;
}