 /* header */
.header{
    height: 600px;
}
 .nav-menu {
    position: fixed;
    left: -100%;
    top: 6rem;
    flex-direction: column;
    background-color: var(--White);
    width: 86.5%;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu:before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 37px 29px;
    border-color: transparent transparent white transparent;
    top: -30px;
    right: 0;
    margin-left: -11px;
}

.navbar {
    
    padding: 1rem 1.5rem;
}

.nav-menu.active {
    left: 100px;
}

.nav-item {
    margin: 1.5rem 0;
}

.hamburger {
    
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.nav-link{
    color: var(--Grayish-blue);
}

.nav-logo{
    font-size: 2rem;
}

.button{
    background-color:#fbd601;
}

.tittle{
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
}

 /* brand  */
summary{
    height: 800px;
}
.brand{
    height: 400px;
    grid-template-rows: 400px;
}
 .brand-text h2{
     font-size: 2rem;
     text-align: center;
 }
 .brand-text p{
     text-align: center;
     font-size: 1.5rem;
     line-height: 1.8rem;
     padding: 0 2rem;
 }
 .brand-text p br{
     display: none;
 }

 .btn{
     font-size: 1rem;
     align-self: center;
 }
 /* audience */
.audience{
    height: 400px;
    grid-template-rows: 400px;
    
}
.audience h2{
    font-size: 2rem;
    text-align: center;
}
.audience p{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 0 2rem;
}
.audience p br{
    display: none;
}

 /* design  */
 .container{
     height:400px;
 }
 
 

 .graphic-design p{
     margin-bottom: 5%;
     padding: 0 15px;
 }
 .graphic-design p br{
     display: none;
 }

 .photography h3{
     /* padding-bottom: 11%; */
     font-size: 2.3rem;
 }


.photography p br{
    display: none;
}
 /* testimonial  */
.testimonial-profile p{
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    padding: 10px;
}
.testimonial-profile p br{
    display: none;
    
}
.name{
    padding-top: 3rem;
}

  /* gallery */
.gallery{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 600px;
}

.footer{
    height: 400px;
}